
{% extends 'base.html' %} 

{% block content %}
<!--
This Hopmpage After Login
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>HomePage</title>
  </head>

  <body>
    <div>  <!--Main Div-->

    
    <div class="image"></div> <!--background pic-->

    <div style="width: 100%">
    <div class="news">
      <p style="text-align: left; font-size: 20px;text-align: left;padding: 15px;">
        Due to conflicts, the schedules were slightly modified.
        <br>
        General Programs: The Robotics course has been moved to Thursday February 3, 2022 from 12:30 till 2:30.<br>
        <br>
        Special Programs: The Genetics course was switched with the Computer Graphics and Data Visualization course.<br>
        <br>
        General and Special Programs: After consulting with the Entrepreneurship course's  instructor, it has been decided to make the exam one hour.<br>
        <br>
        The students will be divided into two groups, the first group will take the exam from 9:00 - 10:00 and the second group from 10:30 - 11:30.
      </p>

      <hr>

      <p style="text-align: left; font-size: 20px;text-align: left;padding: 15px;">
        For General programs<br>
        <br>
        The course registration (For Labs and Sections) is opened (until 25 March 2022) for 2nd term 2021/2022<br>
        <br>
        Note: IS department changes the information system project management Course to "Enterprise mobile application development" code IS436
      </p>

      <hr>

      <p style="text-align: left; font-size: 20px;text-align: left;padding: 15px;">
        To General Programs' Students<br>
        <br>
        The midterm exams will be held during the period from Thursday 25 November till Thursday 2 December, 2021 according to the announced schedule.<br>
        <br>
        Please note that exams for the Entrepreneurship course and the Software Engineering 1 course will be decided upon later outside the exams schedule.<br>
        <br>
        Kindly, check the website occasionally for any updates in the schedule that could take place. FCAI's family wishes you all the best.<br>
        <br>
      </p>
    </div>
    </div>

    <footer></footer>
    </div> <!--Main Div-->
  </body>
</html>

{% endblock content %}
