{% extends 'base.html' %} 

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Student Details</title>
    </head>

    <body>
      <div>
        
        <div style="padding: 100px">
        <H2 style="text-align: center">Studet details</H2>

        <ul class="d">
            <li>
              <button style="margin-top: 50px"><a href="{% url 'AddStudent' %}">ADD STUDENT </a><span>+</span></button>
              <button style="margin-top: 50px;margin-left: 20px"><a href="{% url 'active' %}">Active-Inactive</a><span>+</span></button>
            </li>
            <li>
                <select name="filter" id="choice">
                    <option value="id">ID</option>
                    <option value="DP">Department</option>
                    <option value="Name">Name</option>

                </select>
                <input type="text"  placeholder="Search" id ="myInput" onkeyup="myFunction()"  >
            </li>
        </ul>
        <table id="myTable" class="studentTB" align="center" width="50%" >
          <tr  class = "header " align="left">
              <th >id </th>
              <th> Name</th>
              <th >Date of birth</th>
              <th >Universty</th>
              <th >Gender</th>
              <th >Department</th>
              <th>status</th>
              <th>courses</th>







              <th></th>
          </tr>
          {% for x in student %}
          <tr class="record">
            <td>{{x.ID}}</td>
            <td>{{x.name}}</td>
            <td>{{x.date|date:"d/m/Y"}}</td>
            <td>{{x.university}}</td>
            <td>{{x.Gender}}</td>
            <td>{{x.department}}</td>
            <td>{{x.statues}}</td>
            <td>{{x.course1}},{{x.course2}},{{x.course3}}</td>

            <td>
              {% csrf_token %}            
              <button><a href="{% url 'EditStudent' x.ID %}" style="text-decoration: none;color:black ;">edit</a></button>
              <button><a id="delete" href="{% url 'deleteStudent' x.ID %}" style="text-decoration: none;color:black ;">delete</a></button>
              <button><a href = "{% url 'RegisterCourse' x.ID %}" style="text-decoration:none;color: black;">REG. course</a></button>
            </td>
        </tr>
          {% endfor %}

           </table>

      </div>
    </div>


     </div>     
    </body>

    </html>

{% endblock content %}