{% load static %}

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<meta name="description"content=" mangement system"/>
<link rel = "stylesheet" href = "{% static 'css/style.css'%}">
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>


{% include 'parts/nav.html' %} 
{% block content %}
{% endblock content %}
